body.post-type-reward .meta-box-sortables {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap; }
  body.post-type-reward .meta-box-sortables #lb_reward_users, body.post-type-reward .meta-box-sortables #lb_reward_points, body.post-type-reward .meta-box-sortables #authordiv, body.post-type-reward .meta-box-sortables #mymetabox_revslider_0, body.post-type-reward .meta-box-sortables #lb_reward_notes, body.post-type-reward .meta-box-sortables #lb_reward_coupons {
    width: 49%; }
    body.post-type-reward .meta-box-sortables #lb_reward_users input[type="text"], body.post-type-reward .meta-box-sortables #lb_reward_users input[type="textarea"], body.post-type-reward .meta-box-sortables #lb_reward_users input[type="number"], body.post-type-reward .meta-box-sortables #lb_reward_points input[type="text"], body.post-type-reward .meta-box-sortables #lb_reward_points input[type="textarea"], body.post-type-reward .meta-box-sortables #lb_reward_points input[type="number"], body.post-type-reward .meta-box-sortables #authordiv input[type="text"], body.post-type-reward .meta-box-sortables #authordiv input[type="textarea"], body.post-type-reward .meta-box-sortables #authordiv input[type="number"], body.post-type-reward .meta-box-sortables #mymetabox_revslider_0 input[type="text"], body.post-type-reward .meta-box-sortables #mymetabox_revslider_0 input[type="textarea"], body.post-type-reward .meta-box-sortables #mymetabox_revslider_0 input[type="number"], body.post-type-reward .meta-box-sortables #lb_reward_notes input[type="text"], body.post-type-reward .meta-box-sortables #lb_reward_notes input[type="textarea"], body.post-type-reward .meta-box-sortables #lb_reward_notes input[type="number"], body.post-type-reward .meta-box-sortables #lb_reward_coupons input[type="text"], body.post-type-reward .meta-box-sortables #lb_reward_coupons input[type="textarea"], body.post-type-reward .meta-box-sortables #lb_reward_coupons input[type="number"] {
      width: 100%; }
  body.post-type-reward .meta-box-sortables #postimagediv {
    width: 100%; }
    body.post-type-reward .meta-box-sortables #postimagediv .inside > p {
      text-align: center; }

.users {
  position: relative;
  display: block;
  width: 95%; }
  .users .user {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0; }
    .users .user:nth-child(odd) {
      background: #f9f9f9; }
    .users .user:nth-child(even) {
      background: white; }
    .users .user.first-row {
      color: #0073aa; }
    .users .user > span {
      font-size: 14px;
      padding: 5px;
      width: 33.333%;
      box-sizing: border-box; }
      .users .user > span.view {
        cursor: pointer; }
    .users .user .transactions-container {
      position: relative;
      display: none;
      width: 100%; }
      .users .user .transactions-container .transactions {
        position: relative;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
        list-style-type: none;
        padding: 0;
        width: 100%; }
        .users .user .transactions-container .transactions:first-child {
          border-top: 1px solid lightgrey;
          background: white; }
          .users .user .transactions-container .transactions:first-child li {
            color: #0073aa; }
        .users .user .transactions-container .transactions.red {
          background: rgba(255, 0, 0, 0.2); }
        .users .user .transactions-container .transactions.green {
          background: rgba(0, 255, 0, 0.2); }
        .users .user .transactions-container .transactions .transaction {
          padding: 5px;
          width: 15%;
          margin: 0;
          box-sizing: border-box; }
          .users .user .transactions-container .transactions .transaction:last-child {
            width: 55%; }

/*# sourceMappingURL=admin.css.map */
