$text: #0073aa;
$background: #f9f9f9;

body.post-type-reward {
  .meta-box-sortables{
    position:relative;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;

    #lb_reward_users, #lb_reward_points, #authordiv, #mymetabox_revslider_0, #lb_reward_notes, #lb_reward_coupons{
      width: 49%;

      input[type="text"], input[type="textarea"], input[type="number"]{
        width: 100%;
      }
    }

    #postimagediv{
      width: 100%;

      .inside{
        & > p{
          text-align: center;
        }
      }
    }
  }
}
.users{
  position:relative;
  display:block;
  width: 95%;

  .user{
    position:relative;
    display:flex;
    display:-webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin:0;

    &:nth-child(odd){
      background: $background;
    }

    &:nth-child(even){
      background: white;
    }

    &.first-row{
      color: $text;
    }

    & > span{
      font-size: 14px;
      padding: 5px;
      width: 33.333%;
      box-sizing: border-box;

      &.view{
        cursor:pointer;
      }
    }

    .transactions-container{
      position:relative;
      display: none;
      width: 100%;

      .transactions{
        position:relative;
        display:flex;
        display:-webkit-flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
        list-style-type: none;
        padding: 0;
        width: 100%;

        &:first-child{
          border-top: 1px solid lightgrey;
          background: white;

          li{
            color: $text;
          }
        }

        &.red{
          background: rgba(255,0,0, .2);
        }

        &.green{
          background: rgba(0,255,0, .2);
        }

        .transaction{
          padding: 5px;
          width: 15%;
          margin:0;
          box-sizing: border-box;

          &:last-child{
            width: 55%;
          }
        }
      }
    }
  }
}
