$mdi: 'Material Design Icons';

.woocommerce{
  .woocommerce-MyAccount-navigation{
    ul{
      li.woocommerce-MyAccount-navigation-link--rewards{
        a{
          &::before {
            content: '\f986';
            font-family: $mdi;
            font-size: 15pt;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.coupons{
  position:relative;
  display: block;
  width: 100%;
  padding: 0!important;
  list-style-type: none;

  .coupon{
    padding:0;
    text-transform: uppercase;
  }
}

#lb-submit-request{
  width: 200px;
  text-align: center;
  margin: 0 auto;
}
